body, html {
    font-family: sans-serif;
    font-size: 13px;
}

.strong {
    font-weight: 700;
}

.justify {
    text-align: justify;
}

.card, .form {
    margin-bottom: 1.5rem;
}

i {
    margin-right: .5rem;
}

.feedback {
    position: fixed;
    top: 50%;
    right: 0;
    width: 35px;
    height: 150px;
    padding: 7px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
    background: #2D5EEB;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    z-index: 7;
    text-align: center;
    font-size: 14px;
    word-spacing: .5rem;
    font-weight: 500;
    color: #fff;
}